# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

#Others
.env
dist